*{
    margin-left: 10%;
    margin-right: 10%;
}

.lists{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

a{
    font-family: monospace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}